[Unit]
Description=mac2rpi playback server
After=network.target

[Service]
User=pi
Group=pi
# Complete and uncomment the next two lines
#Environment=LD_LIBRARY_PATH=<path to required libraries such as portaudio or boost>
#ExecStart=<path to the server binary>

[Install]
WantedBy=multi-user.target

