[Unit]
Description=mac2rpi playback server
After=network.target

[Service]
User=pi
Group=pi
Environment=LD_LIBRARY_PATH=/usr/local/lib
# Insert path to server binary and uncomment line
# ExecStart=<path to the server binary>

[Install]
WantedBy=multi-user.target
